force-app/main/default/flows/updateOppOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>hold opp records for update</description>
        <name>addOpportunityRecordForUpdate</name>
        <label>addOpportunityRecordForUpdate</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>addOppRecordForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForUpdateOPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccountDeadlineDate</name>
        <label>assignAccountDeadlineDate</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>deadlineDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deadline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_record_from_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update the close date value with deadline field value.</description>
        <name>update_the_close_date</name>
        <label>update the close date</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>oppRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deadlineDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopForUpdateOPP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addOpportunityRecordForUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check Opportunities list is not null</description>
        <name>isOpportunityListNotNull</name>
        <label>isOpportunityListNotNull</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkOpportunitySize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopForUpdateOPP</targetReference>
            </connector>
            <label>checkOpportunitySize</label>
        </rules>
    </decisions>
    <description>once account deadline date updated then update the associated opp close date will be update.</description>
    <environments>Default</environments>
    <interviewLabel>updateOppOnAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateOppOnAccount</label>
    <loops>
        <description>itrate the opp record and update the close date with deadline date (account)</description>
        <name>loopForUpdateOPP</name>
        <label>loopForUpdateOPP</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>getOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_the_close_date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record_from_opportunity</name>
        <label>get record from opportunity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isOpportunityListNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>getOpportunities</outputReference>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>update Opportunities based on account id</description>
        <name>update_Opportunities</name>
        <label>update Opportunities</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>addOppRecordForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignAccountDeadlineDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Deadline__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>get the updated account id</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>hold all the opp records values</description>
        <name>addOppRecordForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>deadlineDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>get Opportunities base on account id</description>
        <name>getOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>get single opp record</description>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
